* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    border: 2px solid black;
    align-items: normal;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.applications-title::after {
    content: "";
    display: block;
    height: 1.5px;
    background: var(--revvy-green);
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
}

.applications-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.applications-container h1 {
    padding: 24px;
}

.applications-container h3 {
    padding: .5em;
}

#application-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pending-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.pending-row:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.approve-btn {
    color: var(--revvy-black);
    background-color: var(--revvy-green);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.approve-btn:hover {
    background-color: #1bbf75;
}

.reject-btn {
    color: var(--revvy-black);
    background-color: #ddd;
    transition: background-color 0.2s ease;
}

.reject-btn:hover {
    background-color: #ff3b30;
    color: white;
}
