* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change-title::after {
    content: "";
    display: block;
    height: 1.5px;
    background: var(--revvy-green);
    margin-top: 8px;
    width: 100%;
}

#test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 24px;
    margin-top: 24px;
}

.form-inputs label {
    text-align: right;
}

.btn {
    display: block;
    width: 280px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: var(--revvy-black);
    font-weight: 600;
    background-color: var(--revvy-green);
    align-self: center;
    justify-self: center;
}

.change-btn {
    margin-top: 24px;
}

.pw-reqs {
    margin-top: 12px;
}
