* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}