* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

.input-box label {
  align-self: flex-start;
}

input {
  width: 280px;
  height: 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.btn {
  display: block;
  width: 280px;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 45px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: var(--revvy-black);
  font-weight: 600;
  background-color: var(--revvy-green);
  align-self: center;
  justify-self: center;
  margin-top: 12px;
}

h1 {
  text-align: center;
  width: 100%;
}

#conversion {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
