* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--muted-background);
}

.header {
    display: flex;
    flex-direction: column;
    margin: 48px;
    margin-bottom: 24px;
}

.subtitle {
    color: var(--muted-foreground)
}

.manager-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 48px;
}

.points-manager {
    width: 100%;
    max-width: 680px;
    padding: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emp-id {
    color: var(--muted-foreground);
}

.points-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 12px;
    padding: 24px 0px;
    gap: 4px;
}

.points-num {
    font-size: 48px;
}

.points-text {
    color: var(--muted-foreground);
    font-weight: 600;
}

.rewards-icon {
    font-size: 32px;
    color: var(--revvy-green)
}

.points-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group input {
    height: 36px;
    border-radius: 12px;
    padding: 0 12px;
    border: 1px solid #d4d4d8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.btn {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    gap: 16px;
    font-weight: 500;
}

.add-btn {
    background-color: var(--revvy-green);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.add-btn:hover {
    background-color: #1bbf75;
}

.remove-btn {
    background-color: #EF4444;
    transition: background-color 0.2s ease
}

.remove-btn:hover {
    background-color: #DC2626;
}

.reason-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reason-container label {}

.reason-dropdown select {
    height: 36px;
    border-radius: 12px;
    padding: 0 12px;
    border: 1px solid #d4d4d8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}
