* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--revvy-green);
}

body {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

p {
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body .p2 {
    font-size: 18px;
}

