#login {
    position: relative;
    border: 2px solid black;
    top: 95px;
    width: 400px;
    left: 35.5%;
    height: 450px;
}
.input {
    position: relative;
    left: 10%;
    width: 75%;
    top: 0px;
    
}
#title {
    position: relative;
    left: 10%;
    width: 75%;
}
p {
    text-indent: 0;
    
}
h2 {
    text-align: left;
}

#emailInput {
    font-size: 20px;
    padding: 5px;
}
#createAccount {
    position: relative;
    left: 10%;
    text-align: center;
    top: 60px;
}
#passwordInput {
    font-size: 20px;
    padding: 3px;
}
#passwordChange {
    position: relative;
    top: 10px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 20px;
}
#forget {
    position: relative;
    left: 10%;
    top: 20px;
}

#submit {
    position: relative;
    top: 60px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

#nameInput {
    font-size: 20px;
    padding: 5px;
}

#list {
    position: relative;
    left: 10%;
}


.hidden {
    display: none;
  }

#create {
    position: relative;
    top: 0px;
    height: 40px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

#capsWarning {
    position: relative;
    left: 10%;
    top: 0px;
}