* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  width: 100%;
}

html, body {
  background-color: var(--muted-background);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  margin: 0px 120px;
  justify-content: normal;
  gap: px;
}

.welcome-message,
.greeting-desc,
.subtitle {
  align-self: baseline;
}

.welcome-message {
  padding: 15px 0px 5px;
}

.greeting-desc {
  padding-bottom: 20px;
}

.subtitle {
    padding: 24px 0;
}

.rules, .add-rule-card {
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 24px;
  width: 100%;
}

.add-rule-card {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

#ruleForm {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 88px;
}

#rule-list {
  width: 100%;
}

#rule-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 36px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.input-box label {
    align-self: flex-start;
}

input {
    width: 280px;
    height: 5px;
    margin: 5px 0;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.btn {
    display: block;
    width: 280px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: var(--revvy-black);
    font-weight: 600;
    background-color: var(--revvy-green);
    align-self: center;
    justify-self: center;
    margin-top: 12px;
}

.management-btn {
    width: 100%;
}

.sponsor-card {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sponsor-card p {
  color: var(--muted-foreground);
}

.profile-icon {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sponsor-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 4px;
  padding: 24px;
  padding-left: 0px;
}

.org-role {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 4px 0px;
}

.org-name,
.role-name {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 2px 8px;
  display: inline-block;
  background-color: var(--revvy-green);
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.role-name {
  background-color: var(--muted-background);
}

.management-card {
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.management-modules {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 24px;
    margin-bottom: 48px;
}

.action-desc {
    color: var(--muted-foreground);
    text-align: center;
    margin-bottom: 16px;
}

.action-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.action-title i {
    color: var(--revvy-green);
    font-size: 48px;
}