body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.organization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
}

.org-name {
    font-size: 28px;
}

.org-name::after, .rules-title::after, .applications-title::after {
    content: "";
    display: block;
    height: 1.5px;
    background: var(--revvy-green);
    margin-top: 8px;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.input-box label {
    align-self: flex-start;
}

input {
    width: 280px;
    height: 5px;
    margin: 5px 0;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.btn {
    display: block;
    width: 280px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: var(--revvy-black);
    font-weight: 600;
    background-color: var(--revvy-green);
    align-self: center;
    justify-self: center;
    margin-top: 12px;
}

#rule-row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 36px;
}
