* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    top: 20px;
    position: relative;
    font-size: 36px;
    text-align: center;
    width: 100%;
    display: block;
}
#store-catalog {
    display: flex;
    flex-wrap: wrap;
}

#product_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    height: 450px;
    width: 20%;
}

#product_image {
    object-fit: contain;
    height: 70%;
    width: 100%
}